<mat-card [style.background-color]="bgColor">
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
        <mat-grid-list fxLayout="row" cols="4" rowHeight="60px" [style.background-color]="headerColor"
            [style.color]="fontHeaderColor"  style="padding: 10px; margin: top 30px; border-radius: 4px;" fxFlex="100">
            <mat-grid-tile>
                <mat-label-content fxLayoutAlign="end center" style="padding-left: 5px;">
                    <mat-icon aria-hidden="false" aria-label="example analytics icon">analytics</mat-icon>
                </mat-label-content>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label-content fxLayoutAlign="end center" style="padding-left: 5px;">
                    Nombre
                </mat-label-content>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label-content fxLayoutAlign="end center" style="padding-left: 5px;">
                    Apellido
                </mat-label-content>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label-content fxLayoutAlign="end center" style="padding-left: 5px;">
                    Hora Cita
                </mat-label-content>
            </mat-grid-tile>

        </mat-grid-list>
    </mat-card-content>
    <mat-card-content>

        <mat-grid-list fxLayout="row" cols="4" rowHeight="60px" [style.color]="fontColor"
            style="padding: 10px; margin: top 30px;" fxFlex="100">
            <div *ngFor="let item of data">
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-label-content fxLayoutAlign="end center" style="padding-left: 16px;" flex="50">
                            <mat-icon aria-hidden="false" aria-label="Example assignment icon">assignment</mat-icon>
                        </mat-label-content>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-label-content fxLayoutAlign="end center" style="padding-left: 16px;" flex="50">
                            {{item.nombre}}
                        </mat-label-content>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-label-content fxLayoutAlign="end center" style="padding-left: 16px;" flex="50">
                            {{item.apellido}}
                        </mat-label-content>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-label-content fxLayoutAlign="end center" style="padding-left: 16px;" flex="50">
                            {{item.hcita}}
                        </mat-label-content>
                    </div>
                </mat-grid-tile>

            </div>
        </mat-grid-list>
    </mat-card-content>
</mat-card>





<!--
<mat-card fxLayout="row" [style.background-color]="bgColor" [style.color]="fontColor" fxFill>
        <mat-card-content style="display: flex; align-items: center;" fxLayout="column"
            fxLayoutAlign="space-around center">
            <mat-grid-list cols="3" rowHeight="230px" style="font-size: 10px;padding: 10px; margin: top 30px;" flex="30"
                fxFlex="50">
                <mat-grid-tile *ngFor="let item of data" [value]="item.value">
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-icon matPrefix style="font-size: 88px;padding: 2px;height: 80px;width: 80px;" flex="30">
                            {{icono}}
                        </mat-icon>
                        <br>
                        {{item.id}}<br>
                        {{item.nombre}}<br>
                        {{item.apellido}} <br>
                        {{item.hcita}}

                        <mat-label-content fxLayoutAlign="end center" style="font-size: 70px; padding-left: 10px;"
                            flex="50">{{valor}}</mat-label-content>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
-->