<mat-card [style.background-color]="bgColor" style="padding: 5px;border-radius: 20px;">
    <mat-card-content fxLayout="column" fxLayoutAlign="center" [style.background-color]="headerColor"
        [style.color]="fontHeaderColor" style="border-radius: 20px;height: 150px;">
        <div style="font-size: 1.2em;text-align: center;padding-top: 12px;"></div>
        <div style="font-size: 1.2em;text-align: center;padding-top: 12px;">{{label}}</div>
        <mat-grid-list fxLayout="row" cols="{{columnas.length+1}}" fxLayoutrowHeight="50px" rowHeight="50px"
            [style.background-color]="headerColor" [style.color]="fontHeaderColor"
            style="padding: 10px; margin: top 30px; border-radius: 4px;" fxFlex="100">
            <mat-grid-tile>
                <mat-icon matPrefix style="font-size: 60px;padding: 2px;height: 60px;width: 60px;" flex="30">
                    {{icono}}</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let columna of columnas">
                <p>{{columna}}</p>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
        <mat-grid-list fxLayout="row" cols="{{columnas.length+1}}" rowHeight="60px" [style.color]="fontColor"
            style="padding: 4px; font-size: 12px;" fxFlex="100">
            <div *ngFor="let item of data">
                <mat-grid-tile>
                    <mat-icon matPrefix style="font-size: 30px;" flex="30">
                        {{icono}}</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile *ngFor="let key of objectKeys(item)">
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-label-content fxLayoutAlign="end center" style="padding-left: 16px;" flex="50">
                            <b> {{item[key]}}</b>
                        </mat-label-content>
                    </div>
                </mat-grid-tile>

            </div>
        </mat-grid-list>
    </mat-card-content>
</mat-card>





<!--
<mat-card fxLayout="row" [style.background-color]="bgColor" [style.color]="fontColor" fxFill>
        <mat-card-content style="display: flex; align-items: center;" fxLayout="column"
            fxLayoutAlign="space-around center">
            <mat-grid-list cols="3" rowHeight="230px" style="font-size: 10px;padding: 10px; margin: top 30px;" flex="30"
                fxFlex="50">
                <mat-grid-tile *ngFor="let item of data" [value]="item.value">
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
                        <mat-icon matPrefix style="font-size: 88px;padding: 2px;height: 80px;width: 80px;" flex="30">
                            {{icono}}
                        </mat-icon>
                        <br>
                        {{item.id}}<br>
                        {{item.nombre}}<br>
                        {{item.apellido}} <br>
                        {{item.hcita}}

                        <mat-label-content fxLayoutAlign="end center" style="font-size: 70px; padding-left: 10px;"
                            flex="50">{{valor}}</mat-label-content>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
-->