<mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px; margin-bottom: 2px">
  <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex="22"
    (click)="onClickAdicionar()" color="primary" *ngIf="showListado">
    <mat-icon>add_circle_outline</mat-icon>
    Adición
  </button>
</mat-card-actions>
<mat-progress-bar mode="indeterminate" *ngIf="IsWaiting"></mat-progress-bar>

<div class="container" *ngIf="showListado" style="overflow: hidden">
  <div>
    <mat-card fxFill>
      <mat-card-title fxLayoutAlign="center">
        <label>BUSCAR</label>
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center" style="margin: 0px;">
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
          <mat-icon matPrefix>search</mat-icon>
          <mat-form-field fxFlex="100">
            <input matInput id="filterbyFactura" placeholder="Factura" [(ngModel)]="filter.T17Factura"
              (keyup)="findBy()" />
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="picker1" (dateChange)="onDateChangeInicial($event)"
              (focus)="picker1.open()" [value]="filter['T17FechaIni']" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker2" (dateChange)="onDateChangeFinal($event)" (focus)="picker2.open()"
              [value]="filter['T17FechaFin']" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>


      <mat-toolbar>
        <mat-toolbar-row style="background-color: white;">
          <span class="example-spacer"></span>

          <mat-paginator [length]="totalRegistros" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="handlePageChange($event)">
          </mat-paginator>

          <button (click)="showList()" mat-icon-button color="secondary">
            <mat-icon>view_list</mat-icon>
          </button>

          <button (click)="showCards()" mat-icon-button color="secondary">
            <mat-icon>view_module</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-toolbar>

      <table mat-table [dataSource]="egresos" class="mat-elevation-z8" fxFill *ngIf="showListItems">
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="T17Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.T17Fecha | date :'mediumDate'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="T17Total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{ formatCurrency(element.T17Total) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-grid-list cols="5" rowHeight="230px" *ngIf="showCardsItems">
        <mat-grid-tile *ngFor="let egreso of egresos" style="overflow-x: hidden">
          <mat-card (click)="verDetalle(egreso)" class="dashboard-card">
            <mat-card-content class="dashboard-card-content">
              <div class="cssRow">
                <span class="cssRow">
                  Nombre: {{egreso.nombre}}
                </span>
              </div>
              <br />
              <div class="cssRow">
                <span class="cssRow">
                  Fecha: {{egreso.T17Fecha | date :'mediumDate'}}
                </span>
              </div>
              <div class="cssRow">
                <span class="cssRow">
                  Factura: {{egreso.T17Factura}}
                </span>
              </div>

              <h5 class="cssRow">
              </h5>
              <div class="cssRow" style="margin-top: 25px;float: right;">
                Total:
                <strong>
                  {{ formatCurrency(egreso.T17Total) }}
                </strong>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </div>
</div>

<div class="container" *ngIf="!showListado" style="overflow: hidden">
  <mat-card-content class="window-dashboard-card-content contentprincipal">
    <mat-toolbar style="display: flex; flex-direction: row" color="primary">
      <mat-icon matPrefix>account_balance</mat-icon>
      <label style="margin-bottom: 0"> Configuración de Egresos </label>
      <span class="example-spacer"></span>
      <button (click)="eliminar()" *ngIf="showBtnEliminar" style="align-self: center; justify-self: center"
        mat-icon-button color="secondary">
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" (click)="cancelar()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card class="cardcontent">
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="space-between " fxFlex="100">
          <form [formGroup]="egresoForm" autocomplete="off" novalidate>
            <mat-card class="cardcontent">
              <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                  <mat-form-field fxFlex="60">
                    <mat-icon matPrefix>note</mat-icon>
                    <input matInput formControlName="nombre" id="nombre" placeholder="Nombre Personalizado" />
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>note</mat-icon>
                    <input matInput formControlName="T17Factura" id="T17Factura" placeholder="Numero de Factura" />
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input matInput formControlName="T17Soporte" id="T17Soporte" placeholder="Numero de Soporte" />
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
                    <mat-label style="padding: 10px;">Proveedor</mat-label>
                    <app-buscadormodal [filters]="['Nombre', 'Nit']" (selected)="onPorveedorSelected($event)"
                      [columnas]="{
                        Nombre: 'Nombre Proveedor',
                        Nit: 'Nit Proveedor'
                      }" [resultInputText]="['Nombre']" [service]="proveedoresService" tituloBusqueda="Proveedores"
                      [defaultObjValue]="
                        egresoForm.controls['T17Proveedor'].value
                      " fxFlex="60" [readonly]="false"></app-buscadormodal>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
                    <mat-label style="padding: 10px;">Tipo de Egreso</mat-label>
                    <app-buscadormodal [filters]="['T17Nombre']" (selected)="onTipoEgresoSelected($event)" [columnas]="{
                        id: 'Id',
                        T17Nombre: 'Nombre'
                      }" [resultInputText]="['T17Nombre']" [isGenericService]="true"
                      [objForGenericService]="objForGenericService" tituloBusqueda="Tipo de Egreso" [defaultObjValue]="
                        egresoForm.controls['T17Clasificacion'].value
                      " fxFlex="60" [readonly]="false"></app-buscadormodal>
                  </div>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
                    <app-select label="Forma de Pago" [data]="formasPagos" icono="attach_money" fxFlex
                      [default]="egresoForm.controls['T17FormaPago'].value" (valSelected)="onFormaPagoSelected($event)">
                    </app-select>
                  </div>

                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>attach_money</mat-icon>
                    <input matInput formControlName="T17Valor" matTooltip="Presione enter para guardar el valor"
                      matTooltipPosition="right" (change)="calculateTotal()" id="T17Valor" placeholder="Valor" />
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-label>Fecha del documento</mat-label>
                    <input matInput [matDatepicker]="pickerFechaDocumento"
                      (dateChange)="onDateChangeFechaDocumento($event)" [value]="egresoForm.controls['T17Fecha'].value"
                      readonly />
                    <mat-datepicker-toggle matSuffix [for]="pickerFechaDocumento"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFechaDocumento></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input matInput formControlName="T17Dctos" matTooltip="Presione enter para guardar el valor"
                      matTooltipPosition="right" id="T17Dctos" (change)="calculateTotal()" placeholder="% Descuento" />
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between flex-start"
                  style="margin-left: 30px; margin-bottom: 10px">
                  <mat-checkbox (change)="onChangeTieneImpuestos($event.checked)" [checked]="tieneImpuestos"
                    [disabled]="showBtnEliminar" color="primary">
                    Tiene más impuestos
                  </mat-checkbox>
                </div>
                <mat-card *ngIf="tieneImpuestos" style="margin-bottom: 20px">
                  <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                    <mat-form-field appearance="outline" readonly fxFlex>
                      <mat-label>ICA</mat-label>
                      <mat-icon matPrefix>edit_off</mat-icon>
                      <input matInput formControlName="T17ICA" id="T17ICA" placeholder="ICA" readonly
                        [disabled]="true" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" readonly fxFlex>
                      <mat-label>IVA</mat-label>
                      <mat-icon matPrefix>edit_off</mat-icon>
                      <input matInput formControlName="T17IVA" id="T17IVA" placeholder="IVA" readonly
                        [disabled]="true" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" readonly fxFlex>
                      <mat-label>Retención en la fuente</mat-label>
                      <mat-icon matPrefix>edit_off</mat-icon>
                      <input matInput formControlName="T17RF" id="T17RF" placeholder="RF" readonly [disabled]="true" />
                    </mat-form-field>
                  </div>
                </mat-card>


                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input matInput formControlName="T17Observacion" id="T17Observacion" placeholder="Observaciones" />
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>attach_money</mat-icon>
                    <input matInput formControlName="T17Total" id="T17Total" placeholder="Total" readonly />

                  </mat-form-field>
                </div>

              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
          (click)="guardar()" fxFlex [disabled]="!egresoForm.valid" *ngIf="showBtnAdicionar">
          <mat-icon>add_task</mat-icon>
          {{ isUpdating ? "Actualizar" : "Adicionar" }}
        </button>
        <button color="primary" mat-raised-button (click)="actualizar()" fxLayout="row" fxLayout.xs="column"
          fxLayoutAlign="center" fxFlex [disabled]="!egresoForm.valid" *ngIf="showBtnActualizar">
          <mat-icon>loop</mat-icon>
          Actualizar
        </button>
        <button mat-raised-button color="success" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex
          (click)="pagar()" *ngIf="showBtnEliminar">
          <mat-icon>delete</mat-icon>
          Pagar
        </button>
        <button mat-raised-button color="warn" (click)="cancelar()" fxLayout="row" fxLayout.xs="column"
          fxLayoutAlign="center" fxFlex>
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

  <!-- Desde aquí empieza el recibo -->
  <div>
    <mat-card>
      <div id="elementId" style="color: black;">

        <div class="encabezado">
          <span class="title-empresa">
            <strong> {{egresoForm.controls["EmpresaNombre"].value.data.getEmpresaById.nombre}}</strong>
          </span>
          <br>

          <span>
            Cédula de Ciudadanía {{egresoForm.controls["UsuarioNombre"].value.CEDULA}}
          </span>
          <br>

          <span>
            {{egresoForm.controls["EmpresaNombre"].value.data.getEmpresaById.direccion}}
          </span>
          <br>

          <span>
            {{egresoForm.controls["EmpresaNombre"].value.data.getEmpresaById.telefono}}
          </span>
          <br>
        </div>

        <span class="fecha">
          {{egresoForm.controls["EmpresaNombre"].value.data.getEmpresaById.ciudad+","}}{{"
          "+egresoForm.controls["T17Fecha"].value}}
        </span>
        <br>

        <span>
          Username: {{egresoForm.controls["UsuarioNombre"].value.USUARIO_LOGIN}}
        </span>
        <br>

        <div style="display:block; margin-bottom: -40px; margin-top: 10px;">
          <p>
            Pagado a: {{egresoForm.controls["T17Proveedor"].value.Nombre}}
          </p>
          <p style="margin-top: -14px; margin-left: 66px;">
            Nit: {{egresoForm.controls["T17Proveedor"].value.Nit}} Dirección:
            {{egresoForm.controls["T17Proveedor"].value.Direccion}} Telefono:
            {{egresoForm.controls["T17Proveedor"].value.Telefono}}
          </p>
          <br>
        </div>


        <div class="tabla-1">
          <div class="tabla-2">
            <li class="tabla-2">
              Egresos
            </li>

            <li class="tabla-2">
              Soporte
            </li>

            <li class="tabla-2">
              Observación
            </li>

            <li class="tabla-2">
              Valor
            </li>

            <li class="tabla-2">
              Total
            </li>
          </div>
        </div>

        <div class="tabla-prueba">
          <li class="tabla-prueba">
            {{egresoForm.controls["nombre"].value}}
          </li>

          <li class="tabla-prueba">
            {{egresoForm.controls["T17Soporte"].value}}
          </li>

          <li class="tabla-prueba">
            {{egresoForm.controls["T17Observacion"].value}}
          </li>

          <li class="tabla-prueba">
            ${{egresoForm.controls["T17Valor"].value}}
          </li>

          <li class="tabla-prueba">
            ${{egresoForm.controls["T17Total"].value}}
          </li>
        </div>

        <span class="formas-pago">
          FP: {{egresoForm.controls["T17FormaPago"].value}}
        </span>
        

        <div class="modo-pagar">

          <span class="cssRow">
            Valor Neto a Cancelar: ${{egresoForm.controls["T17Valor"].value}}
          </span>
          <br>


          <span class="numero-letra">
            SON {{egresoForm.controls["TotalLetras"].value}} PESOS COLOMBIANOS
          </span>
          <br>
        </div>

        <div class="colums">
          <span class="cssRow">
            Elaboró: {{egresoForm.controls["UsuarioNombre"].value.USUARIO_NOMBRE}}{{" "+
            egresoForm.controls["UsuarioNombre"].value.USUARIO_APELLIDO}}

          </span>
          <span class="cc-nit">
            Recibí CC/Nit.
          </span>
          <span style="font-family: 'BhuTuka Expanded One', cursive;">
            _______________________________
          </span>
          <span class="firma-sello">
            Firma y Sello
          </span>
        </div>
        <div>
          <span style="font-family: 'BhuTuka Expanded One', cursive;">
            _________________________________________________________________________________________________________________
          </span>
          <p>
            El valor Neto a cancelar es el valor resultante después de aplicar las retenciones a que hubiere lugar y que
            deberán estar estipuladas
            en la Factura, Cuenta de Cobro o Documento adjunto a este como soporte.
          </p>
        </div>
      </div>
    </mat-card>

    <button mat-raised-button color="success" fxLayout="row" fxLayout.xs="column" (click)="downloadPdf()">
      <mat-icon>download</mat-icon>
      descargar
    </button>
  </div>