.card{
    height: 400px;
    width: 160px;
}

.image{
    width: 130px;
    height: 180px;
    margin-left: -2px;
}

.button{
    border: 0;
  border-radius: 0.25rem;
  color: white;
  width: 215px;
  height: 35px;
  justify-content: center;
}

.buttonImg{
  color: white;
  margin-left: 43px;
}

img{
  display:block;
  margin:auto;
}

.label{
  display: block;
  margin: auto;
}