<mat-card class="card">
    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
        <div fxFlex>
            <img class="image" [(src)]="url"  >
            <input style="display: none;"
            type="file" 
            (change)="onSelectedFile($event)"
            #fileInput>
            <button
            color="primary"
            mat-raised-button 
            type="button" 
            class="buttonImg"
            (click)="fileInput.click()">Pick File</button> 

            <img style="height: 90px; width: 90px; margin-left: 15px;" [(src)]="mapTeeth">
        </div>
    </div>
    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
        <button mat-raised-button type="button" class="button" color="primary" (click)="openModal()">Estados caras</button>
    </div>
</mat-card>