<div class="container" style="overflow:hidden">
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px" *ngIf="showListado">
        <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex="22"
            (click)="openModal()" color="primary">
            <mat-icon>add_circle_outline</mat-icon>
            Adicion
        </button>
    </mat-card-actions>

    <mat-progress-bar mode="indeterminate" *ngIf="isWaiting"></mat-progress-bar>

    <mat-card-content class="window-dashboard-card-content" *ngIf="showListado" style="overflow-block:hidden">
        <mat-toolbar color="primary">
            <mat-icon matPrefix> web </mat-icon>
            <span>{{ etiquetaListado }}</span>
            <mat-icon>info</mat-icon>

        </mat-toolbar>
    </mat-card-content>
    <mat-card-content>

        <mat-grid-list cols="5" rowHeight="230px">
            <mat-grid-title *ngFor=" let item of eventos" style="overflow-x: hidden">
                <mat-card click()="actualizar(item)" class="dashboard-card">
                    <mat-card-content class="dashboard-card-content">
                        <mat-icon> web </mat-icon>
                        <h5 class="cssRow">{{item.nombre}}</h5>
                        <br>
                        <div>{{item.descripciom}}</div>
                        <div>{{item.active}}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-title>
        </mat-grid-list>
    </mat-card-content>


    <div>
        <ng-template #myDialog style="overflow: hidden">
            <div>
                <div class="container" style="overflow: hidden">
                    <mat-card-content style="margin-bottom: 0px">
                        <mat-toolbar color="primary">
                            <mat-icon matPrefix>event_note</mat-icon>
                            <label>Creación de Eventos Adversos</label>
                            <span class="example-spacer"></span>
                            <button mat-icon-button class="example-icon"
                                aria-label="Example icon-button with share icon" (click)="closeDialog()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-toolbar>
                        <mat-card-header>
                            <mat-card-title></mat-card-title>
                        </mat-card-header>
                        <mat-card class="cardcontent">
                            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                                <app-buscadormodal [filters]="['Nombres']" (selected)="onOdontologoSelected($event)"
                                    [columnas]="{ Nombres: 'Nombre Especialista' }" [resultInputText]="['Nombres']"
                                    [service]="_odontologosService" tituloBusqueda="Especialistas"
                                    [defaultObjValue]="odontologo" fxFlex="60">
                                </app-buscadormodal>
                                <app-multilist [sel1]="sel1" [sel2]="sel2"
                                [nonSelectedItemsTitle]="'Medicamentos para seleccionar'"
                                    [selectedItemsTitle]="'Medicamentos seleccionados'" [materialIconName]="'medication'"
                                    (finalSelection)="onSelection($event)"></app-multilist>
                            </mat-card-content>
                            <mat-card-actions fxLayout="row" fxLayoutAlign="center center ">
                                <button mat-raised-button color="primary" fxLayout="row" (click)="guardar()"
                                    fxLayout.xs="column" fxLayoutAlign="center" fxFlex>
                                    <mat-icon>check_box</mat-icon>
                                    Guardar
                                </button>
                                <button mat-raised-button color="warn" (click)="closeDialog()" fxLayout="row"
                                    fxLayout.xs="column" fxLayoutAlign="center" fxFlex>
                                    <mat-icon>cancel</mat-icon>
                                    Cancelar
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-card-content>
                </div>
            </div>
        </ng-template>
    </div>

</div>