<div class="container" style="overflow: hidden">
  <mat-card-content class="window-dashboard-card-content contentprincipal" style="margin-bottom: 0px">
    <form [formGroup]="detaForm" autocomplete="off" novalidate>
      <mat-card class="cardcontent">
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
          <mat-grid-list cols="2" rowHeight="60px" gutterSize="10px" style="margin-left: 15px; margin-right: 15px">
            <mat-grid-tile fxFlex=50>
              <app-select label="Actividad" [data]=acts icono="local_police"
                (valSelected)="actividadSelected($event, 'act_id')" default="{{detaForm.controls['act_id'].value}}"
                fxFlex="50">
              </app-select>
            </mat-grid-tile>
            <mat-grid-tile fxFlex=50>
              <app-select label="TERMINADO" [data]=firms icono="local_police"
                (valSelected)="firmaSelected($event, 'firma')" default="{{detaForm.controls['firma'].value}}"
                fxFlex="50">
              </app-select>
            </mat-grid-tile>
            <mat-grid-tile fxFlex=50>
              <app-select label="Firma" [data]=firms icono="local_police"
                (valSelected)="firmaSelected($event, 'firma')" default="{{detaForm.controls['firma'].value}}"
                fxFlex="50">
              </app-select>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="1" rowHeight="200px" gutterSize="10px" style="margin-left: 15px; margin-right: 15px">
            <mat-label>Observaciones</mat-label>
            <div class="input-group">              
              <textarea class="form-control" placeholder="Observaciones" aria-label="With textarea"
              formControlName="Observacion" (keypress)="runKeyPress()"
                style="height: 150px; width: 90%"></textarea>
            </div>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-card-content>
</div>