<div class="container" style="overflow: hidden">
  <mat-card-content
    class="window-dashboard-card-content contentprincipal"
    style="margin-bottom: 0px"
  >
      <form [formGroup]="detaForm" autocomplete="off" novalidate>
        <mat-card class="cardcontent">
          <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <mat-grid-list cols="2" rowHeight="60px" gutterSize="10px"
              style="margin-left: 15px; margin-right: 15px"
            >
              <mat-grid-tile fxFlex=50>
                <app-select label="Actividad" [data]=acts icono="local_police"
                  (valSelected)="procesarRolAdd($event)"
                  default="{{detaForm.controls['act_id'].value}}"
                  fxFlex="50"
                >
                </app-select>
              </mat-grid-tile>
              <mat-grid-tile fxFlex=50>
                <app-select label="Firma" [data]=firms icono="local_police"
                  (valSelected)="procesarFirma($event)"
                  default="{{detaForm.controls['firma'].value}}"
                  fxFlex="50"
                >
                </app-select>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list  cols="1"  rowHeight="90px"  gutterSize="10px"
              style="margin-left: 15px; margin-right: 15px"
            >
              <!--mat-label>Observaciones</!--mat-label>

              <mat-grid-tile fxFlex=100 fxLayoutAlign="space-between"-->
                <div class="input-group">
                  <textarea
                    class="form-control"
                    placeholder="Observaciones"
                    aria-label="With textarea"
                    style="height: 80px; width: 90%"
                  ></textarea>
                </div>
                <!--textarea-- matInput cols="50"></!--textarea-->
              <!--/mat-grid-tile-->

            </mat-grid-list>
          </mat-card-content>
        </mat-card>
      </form>
  </mat-card-content>
</div>
