<mat-grid-list cols="2" rowHeight="300px" gutterSize="10px" style="margin-left: 15px;margin-right: 15px;" >
  <mat-grid-tile >
    <div >
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Campo</mat-label>
        <mat-icon matPrefix>table_chart</mat-icon>
        <input matInput [(ngModel)]="sel1Filter" placeholder="name"/>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile >
    <div >
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Campo</mat-label>
        <mat-icon matPrefix>table_chart</mat-icon>
        <input matInput [(ngModel)]="sel2Filter" placeholder="name"/>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile >
    <div style="vertical-align: top;" >
      <mat-selection-list [multiple]="false" >
        <mat-list-option *ngFor="let obj of getSel1Options()" (click)=passElement(obj) [value]="obj">
          {{obj.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile >
    <div style="vertical-align: top;">
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let obj of getSel2Options()" (click)=returnElement(obj) [value]="obj">
          {{obj.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>



