<!--CONTENIDO DE ACTIONS-->
<mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px">
    <button mat-raised-button (click)="adicionar()" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
        fxFlex="22">
        <mat-icon>person_add</mat-icon>
        Adicion
    </button>
</mat-card-actions>

<!--PROGRESS-BAR -->

<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>

<!--CARD: DATOS USERS -->

<div class="container" style="overflow: hidden">
    <mat-card-content class="window-dashboard-card-content contentprincipal" *ngIf="lShowPanelDatos">
        <mat-toolbar color="primary">
            <mat-icon matPrefix>event_available</mat-icon>
            <span>{{ etiquetaNombreModulo }}</span>
            <span class="example-spacer"></span>

            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
                (click)="cancelar()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-card-header>
            <mat-card-title> </mat-card-title>
        </mat-card-header>
        <form [formGroup]="lForm" autocomplete="off" novalidate>
            <mat-card class="cardcontent">
                <mat-card-title fxLayoutAlign="center">
                    <label>Datos de {{ etiquetaNombreModulo }}</label>
                </mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="center">
                    <div *ngIf="false">
                        <mat-form-field>
                            <input matInput formControlName="_id" id="_id" placeholder="_" />
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex>
                            <mat-icon matPrefix>edit</mat-icon>
                            <input matInput formControlName="nombre" id="nombre" placeholder="Nombre recordatorio" />
                        </mat-form-field>
                        <mat-form-field fxFlex="30">
                            <mat-slide-toggle color="primary" formControlName="active">
                                Activo
                            </mat-slide-toggle>
                            <textarea matInput hidden formControlName="active"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                        <mat-form-field fxFlex>
                            <mat-icon matPrefix>edit</mat-icon>
                            <input matInput formControlName="observaciones" id="observaciones"
                                placeholder="Observaciones" />
                        </mat-form-field>
                        <mat-form-field fxFlex="30">
                            <mat-slide-toggle color="primary" formControlName="repetir">
                                Repetir
                            </mat-slide-toggle>
                            <textarea matInput hidden formControlName="repetir"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                        <app-datetime fxFlex label="Fecha Recordatorio:" requerido=true (valor)="OnDate($event)"
                            [dateControl]="lForm.controls['fechaRecordatorio']"> </app-datetime>
                    </div>

                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center"
                        *ngIf="lForm.controls['repetir'].value">
                        <mat-label>Repetir cada: </mat-label>
                        <app-select [data]="repCada" icono="edit" (valSelected)="onDisponibleSelected2($event)" fxFlex
                            default="{{lForm.controls['repetirCada'].value}}">
                        </app-select>

                        <app-select [data]="repCadaTime" icono="edit" (valSelected)="onDisponibleSelected($event)"
                            fxFlex default="{{lForm.controls['repetirCadaTimes'].value}}">
                        </app-select>
                    </div>

                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center"
                        *ngIf="lForm.controls['repetir'].value">
                        <section fxFlex="100">
                            <label>Finaliza:</label>
                            <mat-radio-group formControlName="chooseEnd" (change)="onClickRadioButton($event)">
                                <div>
                                    <mat-radio-button color="primary" value="endsNever">Nunca</mat-radio-button>
                                </div>
                                <br>
                                <div>
                                    <mat-radio-button fxFlex="15" color="primary" value="endsOn">El</mat-radio-button>
                                    <mat-form-field fxFlex="85" style="margin-top:-15px">
                                        <mat-label>Fecha finalización</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="endsOn" [min]="minDate" [disabled]="!endsOn">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <br>
                                <div>
                                    <mat-radio-button fxFlex="15" color="primary" value="endsAfter">Después de </mat-radio-button>
                                    <mat-form-field fxFlex="85" style="margin-top:-15px">
                                        <mat-icon matPrefix>edit</mat-icon>
                                        <input matInput formControlName="endsAfter" id="endsAfter" type="number"
                                            [readonly]="!radioButtonFlag" placeholder="Numero de ocurrencias" />
                                    </mat-form-field>
                                </div>
                            </mat-radio-group>
                        </section>
                    </div> 
                </mat-card-content>                
                    
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button (click)="guardar()" color="primary" *ngIf="lShowBtnAdicionar"
                        [disabled]="!lForm.valid" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
                        fxFlex="80">
                        <mat-icon>person_add</mat-icon>
                        Adicionar
                    </button>
                    <button mat-raised-button fxLayout="row" color="primary" fxLayout.xs="column" fxLayoutAlign="center"
                        fxFlex="80" *ngIf="lShowBtnActualizar" (click)="actualizar()">
                        <mat-icon>mode_edit</mat-icon>
                        Actualizar
                    </button>
                    <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex="80"
                        (click)="eliminar()" *ngIf="lShowBtnEliminar">
                        <mat-icon>more_vert</mat-icon>
                        Eliminar
                    </button>
                    <button mat-raised-button (click)="cancelar()" color="warn" fxLayout="row" fxLayout.xs="column"
                        fxLayoutAlign="center" fxFlex="80">
                        <mat-icon>cancel</mat-icon>
                        Cancelar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-card-content>

    <!--CARD: USERS -->

    <mat-card-content class="window-dashboard-card-content" *ngIf="lShowPanelListado" style="overflow-block: hidden">
        <mat-toolbar color="primary">
            <span>{{ etiquetaListado }}</span>
            <span class="example-spacer"></span>
            <mat-icon>info</mat-icon>
        </mat-toolbar>

        <mat-card fxFill>
            <mat-card-title fxLayoutAlign="center">
                <label>BUSCAR</label>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-form-field fxFlex="100">
                        <input matInput id="filterbyNombre" placeholder="Buscar por nombre" [(ngModel)]="filter.nombre"
                            (keyup)="findBy()" />
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" aria-label="Select page"
            (page)="handlePageChange($event)" [length]="totalRecordatorios">
        </mat-paginator>
        <!--CARD: USERS -->
        <mat-grid-list cols="3" rowHeight="200px">
            <mat-grid-tile *ngFor="let item of listado" style="overflow-x: hidden">
                <mat-card class="cardR" (click)="verDetalle(item)">
                    <mat-card-content class="dashboard-card-content">
                        <div class="icons">
                            <mat-icon>alarm</mat-icon>
                        </div>
                        <h5></h5>
                        <div class="cssRow">
                            <span class="cssRow">
                                Nombre: {{item.nombre}}
                            </span>
                        </div>
                        <h5></h5>
                        <div class="cssRow">
                            <span class="cssRow">
                                Recordatorio Fecha: <b>{{item.fechaRecordatorio}}</b>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>

</div>