.div-container {
  display: flex;
  flex-direction: column;
}

.div-container > * {
  width: 100%;
}

.classImgProfile {
  max-width: 150px;
  border-radius: 150px;
}



::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  /*background-color: rgb(57, 57, 57);*/
  background-color: #4da937;
}
