.div-container {
  display: flex;
  flex-direction: column;
}

.div-container > * {
  width: 100%;
}

.classImgProfile {
  max-width: 150px;
  border-radius: 150px;
}



::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  /*background-color: rgb(57, 57, 57);*/
  background-color: #4da937;
}

.icons{
  display: flex;
  justify-content: center;

}

.cardR{
  width: auto;
  height: auto;
  
}

.example-form {
  min-width: 50px;
  max-width: 200px;
  width: 70%;
  position: relative;
  top: 10px; right: 850px;
}

.example-form2 {
  min-width: 50px;
  max-width: 200px;
  width: 70%;
  position: relative;
  top: 70px; right: 1050px;
  
}