<div class="container" style="overflow: hidden">
  <div>
    <mat-card fxFill>
      <mat-card-title fxLayoutAlign="center">
        <label>BUSCAR</label>
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center" style="margin: 0px;">
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
          <mat-icon matPrefix>search</mat-icon>
          <mat-form-field fxFlex="100">
            <input matInput id="filterbyFactura" placeholder="Factura" [(ngModel)]="filter.T17Factura"
              (keyup)="findBy()" />
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="picker1" (dateChange)="onDateChangeInicial($event)"
              [value]="filter['T17FechaIni']" readonly (focus)="picker1.open()" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker2" (dateChange)="onDateChangeFinal($event)"
              [value]="filter['T17FechaFin']" readonly (focus)="picker2.open()" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-paginator [length]="totalRegistros" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageChange($event)">
      </mat-paginator>
      <mat-grid-list cols="5" rowHeight="230px">
        <mat-grid-tile *ngFor="let egreso of egresos" style="overflow-x: hidden">
          <mat-card class="dashboard-card" style="cursor: default">
            <mat-card-content class="dashboard-card-content">
              <mat-icon>attach_money</mat-icon>
              <h5 class="cssRow">
                <small>Factura:</small>
                {{ egreso.T17Factura }}
              </h5>
              <h5 class="cssRow">
                <small>Prov:</small>
                {{ egreso.T17Proveedor }}
              </h5>
              <div>
                Total:
                <strong>
                  {{ formatCurrency(egreso.T17Total) }}
                </strong>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>