<app-headerturista></app-headerturista>

<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>
<mat-card-content class="dashboard-card-content contentprincipal">
    <mat-card-header>
        <mat-card-title>
            {{etiquetas.CambiarContrasena}}
        </mat-card-title>
    </mat-card-header>
    <form [formGroup]="changepassForm" autocomplete="off" novalidate>
        <mat-card class="cardcontent">
            <mat-card-title fxLayoutAlign="center">

            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">

                <mat-form-field appearance="outline">
                    <mat-label>{{etiquetas.Password}}</mat-label>
                    <input type="password" matInput formControlName="password" id="password" placeholder="Contraseña" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{etiquetas.RepetirPassword}}</mat-label>
                    <input type="password" matInput formControlName="password2" id="password2" placeholder="{{etiquetas.RepetirPassword}}" required>
                </mat-form-field>


            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button (click)="changePassword(changepassForm.value)" [disabled]="!changepassForm.valid" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=80 class="botonesdesign">
                    {{etiquetas.Aceptar}}
                    </button>

            </mat-card-actions>

        </mat-card>
    </form>

    <router-outlet></router-outlet>
</mat-card-content>
<app-footer-tursita></app-footer-tursita>