<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>

<mat-card-content class="dashboard-card-content contentprincipal" *ngIf="lShowPanelDatosViaje">
    <form [formGroup]="profileForm" autocomplete="off" novalidate>
        <mat-card class="cardcontent">
            <mat-card-title fxLayoutAlign="center">
                <label>{{etiquetas.DatosBasicos}}</label>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
                <div class="col">
                    <app-avatar width=150 [(url)]=picurl [editmode]=true marginInput="auto"></app-avatar>
                </div>
                <div class="upload-btn-wrapper">
                    <button mat-raised-button style="cursor:pointer;">{{etiquetas.CargarImagen}}</button>
                </div>
                <mat-card-actions *ngIf="showProfileUser" fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" fxLayout="col" *ngIf="showProfileUser">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="USUARIO_NOMBRE" id="name" placeholder="{{etiquetas.Nombre}}"
                            required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxLayout="col" *ngIf="showProfileUser">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="USUARIO_APELLIDO" id="Apellido"
                            placeholder="{{etiquetas.Email}}" required>
                    </mat-form-field>

                </mat-card-actions>
                <mat-card-actions *ngIf="showProfileUser" fxLayout="col" fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" fxLayout="row" *ngIf="showProfileUser">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="USUARIO_CORREO" id="email" placeholder="{{etiquetas.Email}}"
                            required >
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxLayout="row" *ngIf="showProfileUser">
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="USUARIO_TELEFONO" id="email" placeholder="{{etiquetas.Email}}"
                            required >
                    </mat-form-field>
                </mat-card-actions>

                <div *ngIf="showUpdatePassword" fxLayoutAlign="center center" fxLayout="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Nueva Contraseña</mat-label>
                        <input matInput formControlName="USUARIO_PASSWORD" id="email" type="password" placeholder="{{etiquetas.Email}}" value="" >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar Contraseña</mat-label>
                        <input matInput formControlName="USUARIO_CONFIRMACION" type="password" id="email" value="">
                    </mat-form-field>
                    <button mat-raised-button (click)="cancelar()" class="buttons2">Cancelar</button>
                    <button mat-raised-button (click)="changePassword()" class="buttons">Confirmar</button>
                </div>

                <mat-card-actions fxLayout="col" fxLayoutAlign="center center">
                    <mat-form-field appearance="fill" *ngIf="showProfileUser" colspan="5">
                        <mat-label>Idioma</mat-label>
                        <mat-select (selectionChange)="changeIdiomEs($event.value)">
                            <mat-option *ngFor="let idioma of idiom" [value]="idioma.id">
                                {{idioma.NOMBRE_IDIOMA}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-actions>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center" *ngIf="showButton">
                    <button mat-raised-button (click)="showChangePassword()" class="buttons" color="primary"
                        fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex="80">Cambiar
                        contraseña</button>

                    <button mat-raised-button (click)="updateprofile()" class="buttons" color="primary" fxLayout="row"
                        fxLayout.xs="column" fxLayoutAlign="center" fxFlex="80">Actualizar Perfil</button>

                </mat-card-actions>


            </mat-card-content>

        </mat-card>
    </form>
</mat-card-content>