.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.div-container {
    display: flex;
    flex-direction: column;
}

.div-container>* {
    width: 100%;
}

.mat-card-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.botonesdesign {
    background-color: #01579B;
    color: white;
    size: 10px;
}

.cardcontent {
    box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
    padding-bottom: 30px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.contentprincipal {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.buttons{
    margin-bottom: 7px;
    align-self: center;
    width: 200px;
    background-color:  #85689e;
}

.buttons2{
    margin-bottom: 7px;
    align-self: center;
    width: 200px;
    background-color:  #f44336;
}