/* variables.scss */
@import '../../../../../assets/scss/partials/base.scss';
@import '../../../../../assets/scss/partials/variables.scss';

label {
  margin-bottom: .3rem;
  color: $primary-color;
  min-width: 30px;
}

.mat-form-field-infix {
  padding: 0.4em 0;
  border-top: 0.6em solid transparent;
}

.example-container {
  padding: 1rem;
}

.example-wrapper {
  margin-bottom: 3rem;
}

.example-input-wrapper {
  display: block;
  width: 200px;
  margin-bottom: 1.5rem;
}

.example-trigger {
  display: inline-block;
}
