<div class="input-wrapper" [formGroup]="form">
  <mat-form-field *ngIf="campo.visible" fxFlex=100 appearance="outline">
    <mat-icon matPrefix>edit</mat-icon>
    <label>{{ campo.nombreUi.toString().toUpperCase() }}</label>
    <input #dpInput matInput *ngIf="campo.visible"
      id="{{ campo.nombre }}"
      [formControlName]="campo.nombre"
      [matDatepicker]="picker"
      (dateChange)="onDateChange($event)"
      [(value)]="dateValue"
      style="margin-left: -28px"
    />

    <!--input #dpInput matInput *ngIf="campo.visible"
      id="{{ campo.nombre }}"
      [formControlName]="campo.nombre"
      [(value)]="dateValue"
      [(ngModel)]="dateValue"
      [owlDateTimeTrigger]="picker" [owlDateTime]="picker">
    <owl-date-time-- #picker></owl-date-time-->

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-hint style="color: red" *ngIf="form.controls[campo.nombre].errors?.required">
      error-required
    </mat-hint>
  </mat-form-field>
</div>
