.example-container {
  padding: 1rem;
}

.example-wrapper {
  margin-bottom: 3rem;
}

.example-input-wrapper {
  display: block;
  width: 200px;
  margin-bottom: 1.5rem;
}

.example-trigger {
  display: inline-block;
}
