<span style="color: red" *ngIf="message">{{ message }}</span>
<div class="avatar" [style.width.px]="width" [style.height.px]="width" [ngStyle]="{ margin: marginInput,   'background-image': removeAvatar }"  >
  <img class="avatarOwn" *ngIf="url" [style.width.px]="width" [style.height.px]="width" [src]="url" />
  <label *ngIf="editmode" for="uploader-input" [style.width.px]="width" [style.height.px]="width" appDrag
    (files)="filesDropped($event)">
    <div class="infotext"></div>
  </label>
  <input *ngIf="editmode" id="uploader-input" type="file" #file (change)="preview(file.files)"
    style="display: none" />
</div>
