.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.div-container {
  display: flex;
  flex-direction: column;
}

.div-container > * {
  width: 100%;
}

.cardcontent {
  box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 32px -9px rgba(0, 0, 0, 0.33);
  padding-bottom: 30px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.contentprincipal {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
