<button (click)="fire()">FIRE</button>

<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<!-- 
<select
  class="form-select"
  aria-label="Default select example"
  name="duracion"
  id="duracion"
>
  <option value="0:05">5 min</option>
  <option value="0:10">10 min</option>
  <option value="0:15">15 min</option>
  <option value="0:20">20 min</option>
  <option value="0:25">25 min</option>
  <option value="0:30">30 min</option>
  <option value="0:35">35 min</option>
  <option value="0:40">40 min</option>
  <option value="0:45">45 min</option>
  <option value="1:00">1 hr</option>
  <option value="1:15">1 hr 15 min</option>
  <option value="1:30">1 hr 30 min</option>
  <option value="1:45">1 hr 45 min</option>
  <option value="2:00">2 hr</option>
</select> -->

<div class="container card-container" style="overflow: hidden">
  <mat-card-content
    class="window-dashboard-card-content"
    style="overflow-block: hidden"
  >
    <mat-toolbar color="primary">
      <mat-icon matPrefix>web</mat-icon>
      <span>Citas</span>
      <span class="example-spacer"></span>
      <mat-icon>info</mat-icon>
    </mat-toolbar>

    <mat-card class="cardcontent" fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFill fxLayout="row" fxLayoutAlign="center center" fxFlex="80">
        <mat-card-content fxLayout="column" fxLayoutAlign="center" fxFlex="60">
          <app-buscadormodal
            *ngIf="true"
            (selected)="onTableSelected($event)"
            [columnas]="{ Nombres: 'Nombre Odontologo' }"
            [resultInputText]="['Nombres']"
            [service]="_odontologosService"
            tituloBusqueda="Odontologos"
            [defaultObjValue]="odontologo"
            fxFlex="60"
            [readonly]="false"
          ></app-buscadormodal>

          <app-buscadormodal
            *ngIf="IsWaiting"
            (selected)="onPatientSelected($event)"
            [columnas]="{ Nombres1: 'Nombre Paciente', Apellidos1: 'Apellido' }"
            [resultInputText]="['Apellidos1', 'Nombres1']"
            [service]="_pacienteService"
            tituloBusqueda="Pacientes"
            [defaultObjValue]="paciente"
          ></app-buscadormodal>

          <app-buscadormodal
            *ngIf="Waiting"
            (selected)="onServiceSelected($event)"
            [columnas]="{ nombre: 'Nombre Servicio' }"
            [resultInputText]="['nombre']"
            [service]="_servicioService"
            tituloBusqueda="Servicios"
            [defaultObjValue]="servicio"
            [readonly]="false"
          ></app-buscadormodal>
        </mat-card-content>
      </mat-card>
    </mat-card>

    <mat-card class="cardcontent">
      <mat-card fxFill>
        <mat-card-content>
          <app-scheduler
            [configuration]="calendar"
            [citas]="citasAgendadas"
          ></app-scheduler>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-card-content>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button
      *ngFor="let status of statusCitas"
      mat-menu-item
      (click)="onClickChangeStatusCita(status)"
    >
      {{ status.nombre }}
    </button>
  </ng-template>
</mat-menu>
