<div style="overflow: hidden; margin: auto; margin-top: 10px" fxFlex="90">
  <mat-card-content
    class="window-dashboard-card-content"
    style="overflow-block: hidden"
  >
    <mat-toolbar color="primary">
      <mat-icon matPrefix>web</mat-icon>
      <span>Citas</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-card class="cardcontent" fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFill fxLayout="row" fxLayoutAlign="center center" fxFlex="80">
        <mat-card-content fxLayout="row" fxLayoutAlign="center" fxFlex="80">
          <mat-icon matPrefix style="padding: 4px">account_balance</mat-icon>
          <label style="padding: 7px">Especialista: </label>
          <app-buscadormodal
            [filters]="['Nombres']"
            *ngIf="true"
            (selected)="onOdontologoSelected($event)"
            [columnas]="{ Nombres: 'Nombre Especialista' }"
            [resultInputText]="['Nombres']"
            [service]="_odontologosService"
            tituloBusqueda="Especialistas"
            [defaultObjValue]="odontologo"
            fxFlex="60"
            [readonly]="false"
          ></app-buscadormodal>
        </mat-card-content>
      </mat-card>
    </mat-card>

    <mat-card class="cardcontent" *ngIf="canView()" style="padding: 4px">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
        "
      >
        <mat-chip-list>
          <mat-chip
            *ngFor="let status of legend"
            selected
            [ngStyle]="{
              'background-color': status.color,
              color: status.textColor ? status.textColor : 'black'
            }"
          >
            {{ status.nombre }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <mat-card fxFill>
        <mat-card-content>
          <app-scheduler
            [configuration]="calendar"
            [citas]="citasAgendadas"
          ></app-scheduler>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-card-content>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <div *ngFor="let status of menuOptions">
      <div *ngIf="status.id != 9999">
        <button mat-menu-item (click)="onClickChangeStatusCita(status)">
          {{ status.nombre }}
        </button>
      </div>
      <div *ngIf="status.id == 9999">
        <button mat-menu-item (click)="openDetailsDialogRef(detallesDialog)">
          {{ status.nombre }}
        </button>
      </div>
    </div>
  </ng-template>
</mat-menu>

<ng-template #myDialog style="overflow: hidden">
  <mat-dialog-content
    style="
      margin-left: -63px;
      margin-right: -63px;
      margin-top: -24px;
      margin-bottom: -38px;
      width: 650px;
      overflow: hidden;
    "
  >
    <div class="container" style="overflow: hidden">
      <mat-card-content
        class="window-dashboard-card-content contentprincipal"
        style="margin-bottom: 0px"
      >
        <mat-toolbar color="primary">
          <mat-icon matPrefix>account_balance</mat-icon>
          <label>Creación de citas</label>
          <span class="example-spacer"></span>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            (click)="closeDialog()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
        <mat-card class="cardcontent">
          <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <app-buscadormodal
                [filters]="['Cedula', 'Nombres', 'Apellidos']"
                (selected)="onPatientSelected($event)"
                [columnas]="{
                  Cedula: 'Cedula',
                  Nombres: 'Nombre',
                  Apellidos: 'Apellido'
                }"
                [resultInputText]="['Apellidos1', 'Cedula']"
                [service]="_pacienteService"
                tituloBusqueda=" Paciente"
                [defaultObjValue]="paciente"
                fxFill
              ></app-buscadormodal>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <app-buscadormodal
                (selected)="onServiceSelected($event)"
                [columnas]="{ nombre: 'Nombre Servicio' }"
                [filters]="['nombre']"
                [resultInputText]="['nombre']"
                [service]="_servicioService"
                tituloBusqueda="Servicios"
                [defaultObjValue]="servicio"
                [readonly]="false"
                fxFill
              ></app-buscadormodal>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <app-select
                label="Duración"
                [data]="listadoDuracion"
                icono="alarm"
                fxFlex
                (valSelected)="onDuracionSelected($event)"
              ></app-select>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <mat-form-field fxLayout="column" fxFlex>
                <mat-label>Observaciones</mat-label>
                <input
                  matInput
                  id="Observaciones"
                  placeholder="Observaciones"
                  required
                  [(ngModel)]="observaciones"
                />
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            ></div>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button
              mat-raised-button
              (click)="crearCita()"
              color="primary"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="center"
              fxFlex
            >
              <mat-icon>add_task</mat-icon>
              Crear
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="closeDialog()"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="center"
              fxFlex
            >
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-card-content>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #detallesDialog style="overflow: hidden">
  <mat-dialog-content
    style="
      margin-left: -63px;
      margin-right: -63px;
      margin-top: -24px;
      margin-bottom: -38px;
      width: 650px;
      overflow: hidden;
    "
  >
    <div class="container" style="overflow: hidden">
      <mat-card-content
        class="window-dashboard-card-content contentprincipal"
        style="margin-bottom: 0px"
      >
        <mat-toolbar color="primary">
          <mat-icon matPrefix>folder_shared</mat-icon>
          <label style="margin-left: 10px">Detalles cita</label>
          <span class="example-spacer"></span>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            (click)="closeDialog()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
        <mat-card class="cardcontent">
          <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <!--  INFO DE LA CITA -->

            <mat-progress-bar mode="indeterminate" *ngIf="loadingModalInfo">
            </mat-progress-bar>

            <div
              *ngIf="!loadingModalInfo"
              style="display: flex; justify-content: center; padding: 15px"
              class="row g-0"
            >
              <div
                style="padding: 5px; flex-direction: column"
                class="col-md-6"
              >
                <h5>Detalles cita</h5>
                <hr />
                <span>
                  <strong>Título: </strong>{{ citaSeleccionada.title }}
                </span>
                <br />
                <span>
                  <strong>Estado: </strong
                  >{{ legend[citaSeleccionada.status - 1]?.nombre }}
                </span>
                <br />
                <span>
                  <strong>Hora de Entrada: </strong>
                  {{
                    _toolService
                      .setTime(citaSeleccionada.start)
                      .split("T")[1]
                      .substring(0, 5)
                  }}
                </span>
                <br />
                <span>
                  <strong>Hora de Ingreso: </strong
                  >{{
                    citaSeleccionada.horaIngreso?.length > 1 ||
                    citaSeleccionada.horaIngreso != 0 ||
                    citaSeleccionada.horaIngreso
                      ? citaSeleccionada.horaIngreso
                      : "N/A"
                  }}
                </span>
                <br />
                <span>
                  <strong>Servicio: </strong>{{ servicioName.nombre }}
                </span>
                <br />
                <span>
                  <strong>Observaciones: </strong
                  >{{
                    citaSeleccionada.observaciones?.length > 0 ||
                    citaSeleccionada.observaciones
                      ? citaSeleccionada.Mail
                      : "N/A"
                  }}
                </span>
                <br />
              </div>
              <div
                style="padding: 5px; flex-direction: column"
                class="col-md-6"
              >
                <h5>Detalles paciente</h5>
                <hr />
                <span>
                  <strong>Nombre: </strong>{{ detallePaciente.Nombres }}
                </span>
                <br />
                <span>
                  <strong>Apellido: </strong>{{ detallePaciente.Apellidos }}
                </span>
                <br />
                <span>
                  <strong>Cédula: </strong>{{ detallePaciente.Cedula }}
                </span>
                <br />
                <span>
                  <strong>Ciudad: </strong>{{ detallePaciente.Ciudad }}
                </span>
                <br />
                <span>
                  <strong>Dirección: </strong>{{ detallePaciente.Direccion }}
                </span>
                <br />
                <span>
                  <strong>Correo: </strong
                  >{{
                    detallePaciente.Mail?.length > 0 ||
                    detallePaciente.Mail != 0 ||
                    detallePaciente.Mail
                      ? detallePaciente.Mail
                      : "N/A"
                  }}
                </span>
                <br />
                <span>
                  <strong>Contacto: </strong
                  >{{
                    detallePaciente.Contacto?.length > 0 ||
                    detallePaciente.Contacto != 0 ||
                    detallePaciente.Contacto
                      ? detallePaciente.Contacto
                      : "N/A"
                  }}
                </span>
                <br />
                <span>
                  <strong>Telf. Oficina: </strong
                  >{{
                    detallePaciente.TelOficina?.length > 0 ||
                    detallePaciente.TelOficina != 0 ||
                    detallePaciente.TelOficina
                      ? detallePaciente.TelOficina
                      : "N/A"
                  }}
                </span>
                <br />
                <span>
                  <strong>Telf. Casa: </strong
                  >{{
                    detallePaciente.TelCasa?.length > 0 ||
                    detallePaciente.TelCasa != 0 ||
                    detallePaciente.TelCasa
                      ? detallePaciente.TelCasa
                      : "N/A"
                  }}
                </span>
                <br />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="warn"
          (click)="closeDialog()"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxFlex="60"
        >
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </mat-card-actions>
    </div>
  </mat-dialog-content>
</ng-template>
