.listar {
  margin: 20px;
}

.button {
  align-content: center;
  margin: 20px;
}
.buttonEditar {
  margin: 20px;
  background-color: #7a17ff;
}
.buttonSalida {
  background-color: #d50000;
}

.card-container {
  margin-top: 10px;
}
