<div class="container card-container" style="overflow: hidden">
  <mat-card-content
    class="window-dashboard-card-content"
    style="overflow-block: hidden"
  >
    <mat-toolbar color="primary">
      <mat-icon matPrefix>web</mat-icon>
      <span>Citas</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-card class="cardcontent" fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFill fxLayout="row" fxLayoutAlign="center center" fxFlex="80">
        <mat-card-content fxLayout="column" fxLayoutAlign="center" fxFlex="60">
          <app-buscadormodal
            *ngIf="true"
            (selected)="onOdontologoSelected($event)"
            [columnas]="{ Nombres: 'Nombre Odontologo' }"
            [resultInputText]="['Nombres']"
            [service]="_odontologosService"
            tituloBusqueda="Odontologos"
            [defaultObjValue]="odontologo"
            fxFlex="60"
            [readonly]="false"
          ></app-buscadormodal>

          <app-buscadormodal
            *ngIf="IsWaiting"
            (selected)="onPatientSelected($event)"
            [columnas]="{
              Cedula: 'Cedula',
              Nombres1: 'Nombre',
              Apellidos1: 'Apellido'
            }"
            [resultInputText]="['Apellidos1', 'Cedula']"
            [service]="_pacienteService"
            tituloBusqueda=" Paciente"
            [defaultObjValue]="paciente"
          ></app-buscadormodal>

          <app-buscadormodal
            *ngIf="Waiting"
            (selected)="onServiceSelected($event)"
            [columnas]="{ nombre: 'Nombre Servicio' }"
            [resultInputText]="['nombre']"
            [service]="_servicioService"
            tituloBusqueda="Servicios"
            [defaultObjValue]="servicio"
            [readonly]="false"
          ></app-buscadormodal>
        </mat-card-content>
      </mat-card>
    </mat-card>

    <mat-card class="cardcontent" *ngIf="canView()">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
        "
      >
        <!-- TODO: Centrado Arriba -->
        <mat-chip-list>
          <mat-chip
            *ngFor="let status of legend"
            selected
            [ngStyle]="{
              'background-color': status.color,
              color: status.textColor ? status.textColor : 'black'
            }"
          >
            {{ status.nombre }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <mat-card fxFill>
        <mat-card-content>
          <app-scheduler
            [configuration]="calendar"
            [citas]="citasAgendadas"
          ></app-scheduler>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </mat-card-content>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button
      *ngFor="let status of statusCitas"
      mat-menu-item
      (click)="onClickChangeStatusCita(status)"
    >
      {{ status.nombre }}
    </button>
  </ng-template>
</mat-menu>
