<mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px" *ngIf="showListado">
  <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex="22"
    (click)="actionAdicionar()" color="primary">
    <mat-icon>add_circle_outline</mat-icon>
    Adicion
  </button>
</mat-card-actions>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="isWaiting"></mat-progress-bar> -->
<div class="container" *ngIf="showListado" style="overflow: hidden">
  <mat-card-content class="window-dashboard-card-content" style="overflow-block: hidden">
    <mat-card-content class="window-dashboard-card-content contentprincipal">
      <mat-toolbar color="primary">
        <mat-icon matPrefix>local_hospital</mat-icon>
        <label>Evoluciones</label>
        <span class="example-spacer"></span>
      </mat-toolbar>
      <mat-card-header>
        <mat-card-title> </mat-card-title>
      </mat-card-header>
      <mat-grid-list cols="5" rowHeight="230px">
        <mat-grid-tile *ngFor="let evol of evolucionesLista" style="overflow-x: hidden">
          <mat-card (click)="actualizar(evol)" class="dashboard-card">
            <mat-card-content class="dashboard-card-content">
              <mat-icon>web</mat-icon>
              <h5 class="cssRow">{{ evol.Fecha }}</h5>
              <br />
              <div>{{ evol.IdOdontologo }}</div>
              <div>{{ evol.Paciente }}</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card-content>
</div>

<div class="container" *ngIf="showForm" style="overflow: hidden">
  <mat-toolbar color="primary">
    <mat-icon matPrefix>local_hospital</mat-icon>
    <label>Evoluciones</label>
    <span class="example-spacer"></span>
    <mat-icon>info</mat-icon>
  </mat-toolbar>
  <mat-card class="cardcontent">
    <mat-card-content class="window-dashboard-card-content" style="overflow-block: hidden">
      <div>
        <mat-tab-group>
          <mat-tab label="Detalles Evolución">
            <app-detalle [(detalleAdd)]=detalle></app-detalle>
          </mat-tab>
          <mat-tab label="Esterilización">
            <app-esterilizacion [Cedula]=Cedula [listadoAdd]=esterilizacionAdd></app-esterilizacion>
          </mat-tab>
          <mat-tab label="Recetario">
            <app-recetario [listadoAdd]=recetarioAdd></app-recetario>
          </mat-tab>
          <mat-tab label="Remisión">
            <app-remision [listadoAdd]=remisionAdd></app-remision>
          </mat-tab>
          <mat-tab label="Laboratorios">
            <app-laboratorios [Cedula]=Cedula [listadoAdd]=laboratoriosAdd> </app-laboratorios>
          </mat-tab>
          <mat-tab label="Eventos Adversos">
            <app-eventosAdversos [listadoAdd]=eventosAdversosAdd></app-eventosAdversos>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button (click)="guardar()" color="primary" fxLayout="row" fxLayout.xs="column"
        fxLayoutAlign="center" fxFlex="80">
        <mat-icon>person_add</mat-icon>
        Guardar
      </button>

      <button mat-raised-button (click)="cancelar()" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
        color="warn" fxFlex="80">
        <mat-icon>cancel</mat-icon>
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</div>