<mat-card-actions
  fxLayout="row"
  fxLayoutAlign="end center"
  style="margin-right: 10px"
  *ngIf="showListado"
>
  <button
    mat-raised-button
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxFlex="22"
    (click)="openModal()"
    color="primary"
  >
    <mat-icon>add_circle_outline</mat-icon>
    Adicion
  </button>
</mat-card-actions>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="isWaiting"></mat-progress-bar> -->
<div class="container" *ngIf="showListado" style="overflow: hidden"></div>

<div class="container" style="overflow: hidden">
  <ng-template #myDialog style="overflow: hidden">
    <mat-dialog-content
      style="
        margin-left: -63px;
        margin-right: -63px;
        margin-top: -24px;
        margin-bottom: -38px;
        width: 650px;
        overflow-y: scroll;
      "
    >
      <div class="container" style="overflow: hidden">
        <mat-card-content
          class="window-dashboard-card-content contentprincipal"
          style="margin-bottom: 0px"
        >
          <mat-toolbar color="primary">
            <mat-icon matPrefix>account_balance</mat-icon>
            <label>Recetario - Medicamentos enviados para el paciente</label>
            <span class="example-spacer"></span>
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
              (click)="closeDialog()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar>
          <mat-card-header>
            <mat-card-title> </mat-card-title>
          </mat-card-header>
          <mat-card class="cardcontent">
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
              <mat-card class="window-dashboard-card-content contentprincipal">
                <mat-card-content fxLayout="column" fxLayoutAlign="center">
                  <app-buscadormodal
                    [filters]="['Nombres']"
                    (selected)="onOdontologoSelected($event)"
                    [columnas]="{ Nombres: 'Nombre Especialista' }"
                    [resultInputText]="['Nombres']"
                    [service]="_odontologosService"
                    tituloBusqueda="Especialistas"
                    [defaultObjValue]="odontologo"
                    fxFlex="60"
                  ></app-buscadormodal>
                  <app-multilist [sel1]="sel1" [sel2]="sel2"></app-multilist>
                  <mat-card-actions
                    fxLayout="row"
                    fxLayoutAlign="center center"
                  >
                    <button
                      mat-raised-button
                      color="primary"
                      fxLayout="row"
                      (click)="closeDialog()"
                      fxLayout.xs="column"
                      fxLayoutAlign="center"
                      fxFlex
                    >
                      <mat-icon>add_task</mat-icon>
                      Crear
                    </button>
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="closeDialog()"
                      fxLayout="row"
                      fxLayout.xs="column"
                      fxLayoutAlign="center"
                      fxFlex
                    >
                      <mat-icon>cancel</mat-icon>
                      Cancelar
                    </button>
                  </mat-card-actions>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </div>
    </mat-dialog-content>
  </ng-template>
</div>
