<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>

        
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <app-basiccard bgColor="red" fontColor="white" label="Citas del Dia" valor="22" icono="spa" fxFlex [onClickFunction]="runOnClick"></app-basiccard>
        <app-basiccard bgColor="red" fontColor="white" label="Citas Canceladas" valor="23" icono="whatshot" fxFlex></app-basiccard>
        <app-basiccard bgColor="#090979" fontColor="white" label="Citas Atendidas" valor="24" icono="smoke_free" fxFlex></app-basiccard>
        <app-basiccard bgColor="blue" fontColor="white" label="Total Pacientes" valor="25" icono="room_service" fxFlex></app-basiccard>
    </div>


</div>