<mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px">
</mat-card-actions>

<div class="container" style="overflow: hidden">
    <mat-card id="htmlPDF" *ngIf=false>
        <table mat-table [dataSource]="dataSource" fxFlex="100">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
    <mat-card *ngIf=false>
        <mat-label>Configuracion de Colores</mat-label>
        <app-colorpicker label="Color Primario" (valSelected)="primaryColor=$event" fxFlex="30"></app-colorpicker>
        <app-colorpicker label="Color Secundario" (valSelected)="secondaryColor=$event" fxFlex="30"></app-colorpicker>
        <app-colorpicker label="Color Accent" (valSelected)="accentColor=$event" fxFlex="30"></app-colorpicker>
        <app-colorpicker label="Color Warn" (valSelected)="warnColor=$event" fxFlex="30"></app-colorpicker>
        <button (click)="changeTheme()">Save</button>
    </mat-card>

    <mat-card>
        <mat-card-content class="window-dashboard-card-content" style="overflow-block: hidden; box-shadow: none;"
            id="htmlData3">
            <h1 class="mat-h1">Bienvenido, {{USUARIO.USUARIO_NOMBRE}}</h1>
            <mat-card fxLayout="row" fxLayoutAlign="space-around"
                style="background-color:transparent; padding:5px;box-shadow: none;"
                *ngIf="ListComponentesTipo1.length>0">
                <app-basiccard *ngFor="let componente of ListComponentesTipo1" bgColor="{{componente.color1}}"
                    fontColor="white" label="{{componente.titulo}}" valor="{{componente.data}}"
                    icono="{{componente.icono}}" fxFlex=30 [onClickFunction]="runOnClick"></app-basiccard>
            </mat-card>   

            <mat-card fxLayout="row" fxLayoutAlign="space-around"
                style="background-color:transparent; padding:15px;box-shadow: none;">
                <app-piechart label="Citas Atendias Por Mes Año Actual" fxFlex=50 [chartOptions]='chartOptionsCitasMes'
                    labels='chartOptions.labels' *ngIf="chartOptionsCitasMes?.series?.length>0"> </app-piechart>
                <app-piechart label="Pacientes Por SEXO" fxFlex=50 [chartOptions]='chartOptionsPacientesSexo'
                    labels='chartOptions2.labels' *ngIf="chartOptionsPacientesSexo?.series?.length>0"> </app-piechart>
            </mat-card>

            <mat-card fxLayout="row" fxLayoutAlign="space-around" style="background-color:transparent; padding:5px;box-shadow: none;">
                <div *ngFor="let componente of ListComponentesTipo2" fxFlex>
                    <app-listado bgColor="{{componente.color1}}" headerColor="{{componente.color2}}"
                        fontColor="{{componente.color3}}" fontHeaderColor="{{componente.color4}}"
                        label="{{componente.titulo}}" icono="{{componente.icono}}" fontColor="black"
                        size="roboto font-size:14;" [data]="componente.data" [columnas]="componente.columnas"
                        cantColumnas={{componente.columnas.length+1}}
                        *ngIf='!componente.hide'
                        >
                    </app-listado>
                </div>
            </mat-card>
        </mat-card-content>


    </mat-card>



</div>