@import '~@angular/material/theming';
@include mat-core();

$mat-myapp-primary: (
  50 : #effaee,
  100 : #b7e7b4,
  200 : #8eda8a,
  300 : #5ac854,
  400 : #44c03d,
  500 : #3ca936,
  600 : #34922f,
  700 : #2c7b27,
  800 : #236320,
  900 : #1b4c18,
  A100 : #e3fce2,
  A200 : #8bf385,
  A400 : #43d83a,
  A700 : #3dc336,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


 



$mat-myapp-accent: (
  50 : #fff5e0,
  100 : #ffe7b3,
  200 : #ffd780,
  300 : #ffc64d,
  400 : #ffba26,
  500 : #ffae00,
  600 : #ffa700,
  700 : #ff9d00,
  800 : #ff9400,
  900 : #ff8400,
  A100 : #ffffff,
  A200 : #fff8f2,
  A400 : #ffddbf,
  A700 : #ffcfa6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-app-background: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
  );


$background:  mat-palette($my-app-background);
$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$warn: mat-palette($mat-red);


$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
