<div class="multilist-container">
  <mat-grid-list
    cols="2"
    rowHeight="60px"
    gutterSize="10px"
    style="margin-left: 15px; margin-right: 15px"
  >
    <mat-grid-tile fxFlex="50">
      <mat-form-field fxFlex appearance="outline" style="margin-top: 15px">
        <mat-icon matPrefix>{{ materialIconName }}</mat-icon>
        <mat-label>{{ nonSelectedItemsTitle }}</mat-label>
        <input matInput [(ngModel)]="sel1Filter" placeholder="name" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile fxFlex="50">
      <mat-form-field fxFlex appearance="outline" style="margin-top: 15px">
        <mat-icon matPrefix>{{ materialIconName }}</mat-icon>
        <mat-label>{{ selectedItemsTitle }}</mat-label>
        <input matInput [(ngModel)]="sel2Filter" placeholder="name" />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list
    cols="2"
    gutterSize="10px"
    style="margin-left: 15px; margin-right: 15px"
  >
    <mat-grid-tile fxFlex="48">
      <mat-selection-list
        class="options-container"
        [multiple]="false"
        fxFlex
        fxFlexAlign="start"
      >
        <mat-list-option
          *ngFor="let obj of getSel1Options()"
          (click)="actionAddOnClick(obj)"
          [value]="obj"
        >
          {{ obj.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile fxFlex="48">
      <mat-selection-list
        class="options-container"
        [multiple]="false"
        fxFlex
        fxFlexAlign="start"
      >
        <mat-list-option
          *ngFor="let obj of getSel2Options()"
          (click)="actionRemoveOnClick(obj)"
          [value]="obj"
        >
          {{ obj.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template
  #observacionesDialog
  style="overflow: hidden; display: flex; justify-content: center"
>
  <div
    style="
      margin-left: -43px;
      margin-right: -41px;
      margin-top: -24px;
      margin-bottom: -26px;
    "
  >
    <div class="container" style="overflow: hidden">
      <mat-card-content style="margin-bottom: 0px">
        <mat-toolbar color="primary">
          <mat-icon matPrefix>{{ materialIconName }}</mat-icon>
          <label>Observaciones</label>
          <span class="example-spacer"></span>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            (click)="closeDialog()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        <mat-card-header>
          <mat-card-title> </mat-card-title>
        </mat-card-header>
        <mat-card class="cardcontent">
          <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <input
              class="form-control me-2"
              style="text-align: center; font-size: 1.3rem; font-weight: bold"
              type="text"
              [(ngModel)]="selected.name"
            />

            <div class="input-group">
              <textarea
                class="form-control"
                placeholder="Observaciones"
                [(ngModel)]="selected.observaciones"
                aria-label="Observaciones"
                style="height: 100px; width: 90%; margin-top: 10px"
              >
              </textarea>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button
              mat-raised-button
              color="primary"
              fxLayout="row"
              (click)="save()"
              fxLayout.xs="column"
              fxLayoutAlign="center"
              fxFlex
            >
              <mat-icon>add_task</mat-icon>
              Crear
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="closeDialog()"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="center"
              fxFlex
            >
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-card-content>
    </div>
  </div>
</ng-template>
