<!--CONTENIDO DEL TAB-->
<mat-card-actions fxLayout="row" fxLayoutAlign="end center" style="margin-right: 10px">
    <button mat-raised-button (click)="adicionar()" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=22 class="botonesdesign">
        <mat-icon>person_add</mat-icon>
        {{etiquetas.Adicionar}}
    </button>
</mat-card-actions>

<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>

<!--CARD: ADICIONAR IDIOMA-->
<mat-card-content class="dashboard-card-content contentprincipal" *ngIf="lShowPanelDatosIdiomas">
    <mat-card-header>
        <mat-card-title>
            {{etiquetas.Administraciondelidiomas}}
        </mat-card-title>
    </mat-card-header>
    <form [formGroup]="userForm" autocomplete="off" novalidate>
        <mat-card class="cardcontent">
            <mat-card-title fxLayoutAlign="center">
                <label>{{etiquetas.DatosBasicos}}</label>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
                <div *ngIf="false">
                    <mat-form-field>
                        <input matInput formControlName="NOMBRE_IDIOMA" id="NOMBRE_IDIOMA" placeholder="NOMBRE_IDIOMA">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="BANDERA" id="BANDERA" placeholder="BANDERA">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="MCA_ACTIVO" id="MCA_ACTIVO" placeholder="MCA_ACTIVO">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="SHORT_NAME" id="SHORT_NAME" placeholder="SHORT_NAME">
                    </mat-form-field>

                </div>

                <mat-form-field appearance="outline">
                    <mat-label>{{etiquetas.NOMBRE_IDIOMA}}</mat-label>
                    <input matInput formControlName="NOMBRE_IDIOMA" id="NOMBRE_IDIOMA" placeholder="NOMBRE_IDIOMA" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{etiquetas.countryFlag}}</mat-label>
                    <input matInput formControlName="BANDERA" id="BANDERA" placeholder="{{etiquetas.countryFlag}}" required>
                </mat-form-field>

                <mat-form-field style="margin-top:20px; margin-bottom:20px;" appearance="outline">
                    <mat-label>{{etiquetas.ACTIVO}}</mat-label>
                    <mat-select [(value)]="selected" formControlName="MCA_ACTIVO" id="MCA_ACTIVO" required>
                        <mat-option value="S">
                            SI
                        </mat-option>
                        <mat-option value="N">
                            NO
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{etiquetas.NombreCorto}}</mat-label>
                    <input matInput formControlName="SHORT_NAME" id="SHORT_NAME" placeholder="SHORT_NAME" required>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button (click)="callAdd()" [disabled]="!userForm.valid" *ngIf="lShowBtnAdicionar" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=80 class="botonesdesign">
                    <mat-icon>person_add</mat-icon>
                    {{etiquetas.Adicionar}}
                </button>
                <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=80 (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar" class="botonesdesign">
                    <mat-icon>mode_edit</mat-icon>
                    {{etiquetas.Actualizar}}
                </button>
                <button mat-raised-button (click)="callCancelar()" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=80 class="botonesdesign">
                    <mat-icon>cancel</mat-icon>
                    {{etiquetas.Cancelar}}
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

    <mat-card *ngIf="listadoEtiquetas?.length>0">
        <mat-card-title fxLayoutAlign="center">
            <label>{{etiquetas.Etiquetasdelsistema}}</label>
        </mat-card-title>
        <!-- Bloque para lista de etiquetas-->
        <mat-grid-list cols="1" rowHeight="60px">
            <mat-grid-tile *ngFor="let etiqueta of listadoEtiquetas">
                <mat-form-field fxFlex=100>
                    <mat-label>{{etiqueta.NOMBRE}}</mat-label>
                    <input matInput placeholder={{etiqueta.NOMBRE}} required [(ngModel)]="etiqueta.LABEL" id="etiqueta.LABEL" (change)=updateEtiqueta(etiqueta)>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</mat-card-content>


<!--CARD: LISTADO DE IDIOMAS-->
<mat-card-content class="dashboard-card-content" *ngIf="lShowPanelListadoIdiomas">
    <mat-card>
        <mat-card-title fxLayoutAlign="center">
            <label>{{etiquetas.Filtraridiomas}}</label>
        </mat-card-title>
        <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex=40>
                <input matInput id="filterbyNombre" placeholder="Buscar por idioma" [(ngModel)]="findByItem.NOMBRE_IDIOMA" (keyup)="findBy()">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-grid-list cols="3" rowHeight="320px">
        <mat-grid-tile *ngFor="let idioma of listadoIdiomas.data">
            <mat-card class="dashboard-card" (click)="actualizar(idioma)">
                <img mat-card-image src="{{serverURlImagesBanderas}}{{idioma.BANDERA}}" alt="bandera" height="150px;" height="150px;" class="cssForCrudListImg">
                <mat-card-content class="dashboard-card-content">
                    <h5>{{idioma.NOMBRE_IDIOMA}}</h5>
                    <br>
                    <div>Nombre Corto: {{idioma.SHORT_NAME}}</div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card-content>