<mat-toolbar class="matToolbarCss">
    <mat-toolbar-row routerLink='./home'>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="autenticar()">    
    <mat-card>        
        <img  class="cssLogo" src="{{urlLogo}}" alt="logo">
        <mat-card-title fxLayoutAlign="center">
            <label class="w400" style="font-family: 'Montserrat', sans-serif;">Autenticacion - Apolonía</label>
        </mat-card-title>
        <mat-card-content fxLayout="row" fxLayoutAlign="center center">
            <div class="div-container" fxFlex=50>
                <mat-form-field>
                    <input matInput placeholder="Nombre de usuario" formControlName="usuario" id="usuario" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password" id="password" required>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                       
            <button mat-raised-button color="primary"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=20  [disabled]="!userForm.valid">Ingresar</button>
    
        </mat-card-actions>
    </mat-card>
</form>
