<mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>

<!--formulario-->
<mat-card-content class="dashboard-card-content contentprincipal" *ngIf="lShowPanelDatosCorreos">
  <mat-card-header>
    <mat-card-title> 
      {{etiquetas.Solicitudes}}
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="userForm" autocomplete="off" novalidate>
    <mat-card class="cardcontent">
      <mat-card-title fxLayoutAlign="center">
        <label> {{etiquetas.DatosBasicos}}</label>
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field appearance="outline" *ngIf="false">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" id="id" placeholder="id*" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="false">
          <mat-label>{{etiquetas.Identificador}}</mat-label>
          <input matInput formControlName="IDENTIFICADOR" id="IDENTIFICADOR" placeholder="{{etiquetas.Identificador}}"
            required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{etiquetas.Titulo}}</mat-label>
          <input matInput formControlName="TITULO" id="TITULO" placeholder="{{etiquetas.Titulo}}" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{etiquetas.Contenido}}</mat-label>
          <textarea style="height: 3cm;" matInput formControlName="TEXTO_BODY" id="TEXTO_BODY"
            placeholder="{{etiquetas.Contenido}}" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="false">
          <mat-label>{{etiquetas.Idioma}}</mat-label>
          <input matInput formControlName="IDIOMA" id="IDIOMA" placeholder="{{etiquetas.Idioma}}" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="false">
          <mat-label>{{etiquetas.TipodeUsuario}}</mat-label>
          <input matInput formControlName="TIPO_USER" id="TIPO_USER" placeholder="{{etiquetas.TipoUsuario}}" required>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxFlex=80
          (click)="callUpdate()" [disabled]="!userForm.valid" *ngIf="lShowBtnActualizar" class="botonesdesign">
          <mat-icon>mode_edit</mat-icon>
          {{etiquetas.Actualizar}}
        </button>
        <button mat-raised-button (click)="callCancelar()" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
          fxFlex=80 class="botonesdesign">
          <mat-icon>cancel</mat-icon>
          {{etiquetas.Cancelar}}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-card-content>

<!--CARD: LISTADO DE CORREOS-->

<mat-card-content class="dashboard-card-content" *ngIf="lShowPanelListadoCorreos">
  <mat-card>
    <mat-card-title fxLayoutAlign="center">
      <label>{{etiquetas.FiltrarCorreos}}</label>
    </mat-card-title>

    <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field fxFlex=40>
        <mat-label>{{etiquetas.Idioma}}</mat-label>
        <mat-select [(value)]="idiomaSelect">
          <mat-option value=null (click)="findBy()">Ninguno</mat-option>
          <mat-option value=2 (click)="findBy()">Español</mat-option>
          <mat-option value=1 (click)="findBy()">Inglés</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex=40>
        <mat-label>{{etiquetas.TipodeUsuario}}</mat-label>
        <mat-select [(value)]="tipoUsuarioSelect">
          <mat-option value=null (click)="findBy()">Ninguno</mat-option>
          <mat-option value=1 (click)="findBy()">Turista</mat-option>
          <mat-option value=0 (click)="findBy()">Capitán</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-grid-list cols="3" rowHeight="320px">
    <mat-grid-tile *ngFor="let correo of listadoCorreos.data">
      <mat-card class="dashboard-card" (click)="actualizar(correo)">
        <mat-card-content class="dashboard-card-content">
          <br>
          <h6>{{correo.IDENTIFICADOR}}</h6><br><br>
          <br>
          <h5>{{correo.TITULO}}</h5>
          <br>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
