<mat-progress-bar mode="indeterminate" *ngIf="IsWaiting"></mat-progress-bar>

<div class="container" style="overflow: hidden">
  <mat-card-content class="window-dashboard-card-content contentprincipal">
    <mat-toolbar color="primary">
      <mat-icon matPrefix>account_balance</mat-icon>
      <label>Configuración de Egresos</label>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header>
    <mat-card class="cardcontent">
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="space-between " fxFlex="100">
          <form
            [formGroup]="egresosProgramadosForm"
            autocomplete="off"
            novalidate
          >
            <mat-card class="cardcontent">
              <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>note</mat-icon>
                    <input
                      matInput
                      formControlName="T17Factura"
                      id="T17Factura"
                      placeholder="Numero de Factura"
                    />
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17Soporte"
                      id="T17Soporte"
                      placeholder="Numero de Soporte"
                    />
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
                    <app-buscadormodal
                      [filters]="['Nombre', 'Nit']"
                      (selected)="onPorveedorSelected($event)"
                      [columnas]="{
                        Nombre: 'Nombre Proveedor',
                        Nit: 'Nit Proveedor'
                      }"
                      [resultInputText]="['Nombre']"
                      [service]="proveedoresService"
                      tituloBusqueda="Proveedores"
                      [defaultObjValue]="
                        egresosProgramadosForm.controls['T17Proveedor'].value
                      "
                      fxFlex="60"
                      [readonly]="false"
                    ></app-buscadormodal>
                  </div>
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17Fecha"
                      id="T17Fecha"
                      placeholder="Fecha del documento"
                    />
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="center" fxFlex="50">
                    <app-select
                      label="Forma de Pago"
                      [data]="formasPagos"
                      icono="attach_money"
                      fxFlex
                      (valSelected)="onFormaPagoSelected($event)"
                    ></app-select>
                  </div>

                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      matTooltip="Presione enter para guardar el valor"
                      matTooltipPosition="right"
                      formControlName="T17Valor"
                      (change)="calculateTotal()"
                      id="T17Valor"
                      placeholder="Valor"
                    />
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17Dctos"
                      matTooltip="Presione enter para guardar el valor"
                      matTooltipPosition="right"
                      id="T17Dctos"
                      (change)="calculateTotal()"
                      placeholder="% Descuento"
                    />
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17ICA"
                      id="T17ICA"
                      placeholder="ICA"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17IVA"
                      id="T17IVA"
                      placeholder="IVA"
                      readonly
                    />
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17RF"
                      id="T17RF"
                      placeholder="RF"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17Total"
                      id="T17Total"
                      placeholder="Total"
                      readonly
                    />
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <mat-icon matPrefix>edit</mat-icon>
                    <input
                      matInput
                      formControlName="T17Observacion"
                      id="T17Observacion"
                      placeholder="Observaciones"
                    />
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
          </form>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="primary"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="center"
          (click)="guardar()"
          fxFlex
          [disabled]="!egresosProgramadosForm.valid"
        >
          <mat-icon>add_task</mat-icon>
          Adicionar
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</div>
