<mat-paginator
  [length]="totalRegistros"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageChange($event)"
>
</mat-paginator>
<div class="container" style="overflow: hidden">
  <div>
    <mat-card fxFill>
      <mat-card-title fxLayoutAlign="center">
        <label>Resumen de Egresos Pagados</label>
      </mat-card-title>
      <mat-grid-list cols="5" rowHeight="230px">
        <mat-grid-tile
          *ngFor="let egreso of egresos"
          style="overflow-x: hidden"
        >
          <mat-card class="dashboard-card" style="cursor: default">
            <mat-card-content class="dashboard-card-content">
              <mat-icon>attach_money</mat-icon>
              <h5 class="cssRow">
                <small>Factura:</small>
                {{ egreso.T17Factura }}
              </h5>
              <h5 class="cssRow">
                <small>Prov:</small>
                {{ egreso.T17Proveedor }}
              </h5>
              <div>
                Total:
                <strong>
                  {{ formatCurrency(egreso.T17Total) }}
                </strong>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>
