<mat-card-actions
  fxLayout="row"
  fxLayoutAlign="end center"
  style="margin-right: 10px"
>
</mat-card-actions>

<mat-progress-bar mode="indeterminate" *ngIf="IsWaiting"></mat-progress-bar>

<div class="container" style="overflow: hidden">
  <mat-card-content
    class="window-dashboard-card-content"
    style="overflow-block: hidden"
  >
    <mat-toolbar color="primary">
      <mat-icon matPrefix>account_balance</mat-icon>
      <span>{{ etiquetaListado }}</span>
      <span class="example-spacer"></span>

      <mat-icon>info</mat-icon>
    </mat-toolbar>

    <mat-card fxFill>
      <mat-card-title fxLayoutAlign="center">
        <label>BUSCAR</label>
      </mat-card-title>

      <app-buscadormodal
        *ngIf="!IsWaiting && mascaras"
        (selected)="setCurrent($event)"
        [columnas]="columnas"
        [service]="_mascarasService"
        tituloBusqueda="Mascaras"
      ></app-buscadormodal>
      <app-buscadormodal
        *ngIf="!IsWaiting && tipoCampos"
        (selected)="setTipoCampo($event)"
        [columnas]="columnas"
        [service]="_tipoCampoService"
        nombreArr="tipocampo"
        tituloBusqueda="Tipo Campo"
      ></app-buscadormodal>

      <!-- 
      <app-filtro-busqueda
        [columnas]="columnas"
        [service]="_mascarasService"
      ></app-filtro-busqueda> -->
    </mat-card>

    <mat-grid-list *ngIf="showListado" cols="3" rowHeight="320px">
      <mat-grid-tile
        *ngFor="let mascara of mascaras"
        style="overflow-x: hidden"
      >
        <mat-card class="dashboard-card">
          <img
            mat-card-image
            src="./assets/comercio.png"
            alt="producto"
            height="150px; "
            class="cssForCrudListImg"
          />
          <mat-card-content class="dashboard-card-content">
            <h5>{{ mascara.nombre }}</h5>
            <hr />
            <div>{{ mascara.descripcion }}</div>
            <div>Created by{{ mascara.createdBy }}</div>
            <div>Active{{ mascara.active }}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>
