<mat-toolbar color="primary">
  <mat-icon matPrefix>account_balance</mat-icon>
  <span></span>
  <span class="example-spacer"></span>
  <mat-icon (click)="onNoClick()">close</mat-icon>
</mat-toolbar>

<mat-card-content
  style="margin-top: 15px"
  fxLayout="column"
  fxLayoutAlign="center stretch"
>
  <mat-form-field
    *ngFor="let item of filters | keyvalue; trackBy: trackByFn"
    appearance="outline"
  >
    <mat-label>{{ item.key }}</mat-label>
    <input
      matInput
      id="{{ item.key }}"
      placeholder="{{ item.key }}"
      [(ngModel)]="filters[item.key]"
      (keyup)="findBy()"
      style="text-align: center"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-card style="overflow-y: auto; height: 350px" class="cardcontent">
    <mat-toolbar color="primary">
      <mat-icon matPrefix>account_balance</mat-icon>
      <span>Listado</span>
      <span class="example-spacer"></span>
      <mat-icon>info</mat-icon>
    </mat-toolbar>

    <table class="table table-hover table-bordered">
      <thead class="thead-dark" color="primary">
        <tr>
          <th scope="col" *ngFor="let column of tituloColumnas">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of dataSource"
          (click)="getItem(item)"
          style="cursor: pointer"
        >
          <th scope="row" *ngFor="let property of properties">
            <div *ngIf="item.hasOwnProperty(property)">
              {{ item[property] }}
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </mat-card>
</mat-card-content>
