<mat-card-actions
  fxLayout="row"
  fxLayoutAlign="end center"
  style="margin-right: 10px"
  *ngIf="showListado"
>
  <button
    mat-raised-button
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxFlex="22"
    (click)="openModal()"
    color="primary"
  >
    <mat-icon>add_circle_outline</mat-icon>
    Adicion
  </button>
</mat-card-actions>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="isWaiting"></mat-progress-bar> -->
<div class="container" *ngIf="showListado" style="overflow: hidden"></div>

<div>
  <ng-template
    #myDialog
    style="overflow: hidden; display: flex; justify-content: center"
  >
    <div
      style="
        margin-left: -43px;
        margin-right: -41px;
        margin-top: -24px;
        margin-bottom: -26px;
      "
    >
      <div class="container" style="overflow: hidden">
        <mat-card-content style="margin-bottom: 0px">
          <mat-toolbar color="primary">
            <mat-icon matPrefix>account_balance</mat-icon>
            <label>Laboratorios</label>
            <span class="example-spacer"></span>
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
              (click)="closeDialog()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar>
          <mat-card-header>
            <mat-card-title> </mat-card-title>
          </mat-card-header>
          <mat-card class="cardcontent">
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
              <app-buscadormodal
                [filters]="['Nombres']"
                (selected)="onOdontologoSelected($event)"
                [columnas]="{ Nombres: 'Nombre Especialista' }"
                [resultInputText]="['Nombres']"
                [service]="_odontologosService"
                tituloBusqueda="Especialistas"
                [defaultObjValue]="odontologo"
                fxFlex="60"
              ></app-buscadormodal>

              <app-buscadormodal
                [filters]="['Cedula', 'Nombres', 'Apellidos']"
                (selected)="onPatientSelected($event)"
                [columnas]="{
                  Nombres: 'Nombre'
                }"
                [resultInputText]="['Apellidos1', 'Cedula']"
                [service]="_pacienteService"
                tituloBusqueda=" Paciente"
                [defaultObjValue]="paciente"
                fxFill
              ></app-buscadormodal>

              <div class="input-group">
                <textarea
                  class="form-control"
                  placeholder="Observaciones"
                  aria-label="With textarea"
                  style="height: 200px; width: 90%"
                ></textarea>
              </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-raised-button
                color="primary"
                fxLayout="row"
                (click)="closeDialog()"
                fxLayout.xs="column"
                fxLayoutAlign="center"
                fxFlex
              >
                <mat-icon>add_task</mat-icon>
                Crear
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="closeDialog()"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="center"
                fxFlex
              >
                <mat-icon>cancel</mat-icon>
                Cancelar
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </div>
    </div>
  </ng-template>
</div>
